{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="rogan-hero-section rogan-hero-three pt-300 pb-350 md-pt-200 md-pb-130 pos-r">
            <div class="shape-wrapper">
                <img src="{% static 'static/images/shape/portfolio.png' %}" alt="" class="main-image-shape img-shape rest">
                <img src="{% static 'static/images/shape/Portfolio-responsive.png' %}" alt="" class="main-image-shape img-shape resty">

            </div>
            <div class="container">
                <div class="main-wrapper pos-r">
                    <h1 class="banner-main-title pt-15 pb-45 md-pb-20 wow fadeInUp animated" data-wow-delay="0.4s">{{slider_head}}<br/><span>{{extra_slider_head}}</span></h1>
                    <p class="banner-sub-title pb-45 wow fadeInUp animated col-md-6" data-wow-delay="0.9s">{{slider_sub_head}}</p>
                    <a href="#" class="theme-btn solid-button-one button-rose wow fadeInLeft animated" data-wow-delay="1.5s">Get Started</a>
                </div>
            </div>
        </div>
    </div>

<section class="portfolio section-padding" data-scroll-index="1">
    <div class="container">
        <div class="row">

            <div class="section-head col-sm-12">
                <h4>
                    <span>Our</span><br> Portfolio
                </h4>
            </div>

            <!-- filter links -->
            <div class="filtering col-sm-12">
                <span data-filter="*" class="active">All</span>
                <span data-filter=".brand">Brand</span>
                <span data-filter=".web">Design</span>
                <span data-filter=".graphic">Graphic</span>
            </div>

            <div class="clearfix"></div>

            <!-- gallery -->
            <div id="posts" class="gall row text-center full-width">



            </div>


        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script>


    $(document).ready(function () {
        var search_query = '/api/portfolio/search/?query=';
        var type = '';
        var containers = '';
        var check = '8';
        var doubleCheck = true;
        var extraClass = '';

        getData(search_query);
        function getData(query) {
            $.ajax({
                url: query,
                method: 'GET',
                success: function (data) {
                    Object.keys(data).forEach((key) => {
                        var value = data[key];
                        var category = value.category.head;
                        if (category == 'UI/UX & Web Designing' || category == 'Web Development') {
                            type = 'web';
                        }
                        if (category == 'Graphic Designing') {
                            type = 'graphic';
                        }
                        if (category == 'Animations') {
                            type = 'brand';
                        }
                        if (key != 0) {
                            if ((parseInt(key) + 1) % 2 != 0) {
                                if (check == '8') {
                                    check = '4';
                                }
                                else if (check == '4') {
                                    check = '8';
                                }
                            }
                        }
                        if (check == '8') {
                            check = '4';
                        }
                        else if (check == '4') {
                            check = '8';
                        }

                        var porfolio = '<div class="col-' + check + ' ' + extraClass + '  items ' + type + '">\
                            <div class="item-img">\
                                <img src="'+ value.porfolio_images[0].image + '" style="height:340px !important;" alt="image">\
                                    <div class="item-img-overlay valign">\
                                        <div class="overlay-info full-width vertical-center">\
                                            <a href="/portfolios/'+ value.id + '" class="h6">' + value.name + '</a>\
                                        </div>\
                                        <a href="portfolio-single.html">\
                                            <i class="icofont icofont-image"></i>\
                                        </a>\
                                    </div>\
                                </div>\
                            </div>';


                        containers += porfolio;
                        // console.log(containers);
                    });
                    $('#posts').append(containers);


                    // for (let index = 0; index < length; index++) {
                    //     

                    // };
                },
                error: function (data) {
                    console.log('error');
                }
            });
        }
    });

</script>
{% endblock scripts %}