{% load static %}

 <header class="header valign bg-img creative" data-scroll-index="0" data-overlay-dark="5"
        data-background="{{slider_image}}" data-stellar-background-ratio="0.5"
        style=" background-position: 0px 0px;">
        <!-- particles -->
        <div id="particles-js"></div>
        <div class="svg">
            <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                <polygon points="-30,300 355.167,210.5 1432.5,290 1920,198.5 1920,300"></polygon>
            </svg>
        </div>

        <div class="container">
            <div class="row">
                <div class="full-width text-center caption mt-30">
                    <h3>{{slider_head}}</h3>
                    <h1 class="cd-headline clip">
                        <span class="blc">The Way Of </span>
                        <span class="cd-words-wrapper" style="width: 185.75px;">
                            <b class="is-hidden">Success</b>
                            <b class="is-hidden">Grow Up</b>
                            <b class="is-visible">Dream</b>
                        </span>
                    </h1>
                    <p>{{slider_sub_head}}</p>
                   
                </div>
            </div>
        </div>

        <div class="arrow">
            <a href="#" data-scroll-nav="1">
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </header>