{% load static %}
<script src="{% static 'static/vendor/jquery.2.2.3.min.js' %}"></script>
<script src="{% static 'static/vendor/popper.js/popper.min.js' %}"></script>
<script src="{% static 'static/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static/vendor/mega-menu/assets/js/custom.js' %}"></script>
<script src="{% static 'static/vendor/aos-next/dist/aos.js' %}"></script>
<script src="{% static 'static/vendor/WOW-master/dist/wow.min.js' %}"></script>
<script src="{% static 'static/vendor/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'static/vendor/ajaxchimp/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'static/vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'static/vendor/tilt.jquery.js' %}"></script>
<script src="{% static 'static/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
<script src="{% static 'static/js/theme.js' %}"></script>
