{% load static %}
<meta charset="UTF-8" />
<meta
  name="keywords"
  content="Digital marketing agency, Digital marketing company, Digital marketing services"
/>
<meta name="author" content="creativegigs" />
<meta
  name="description"
  content="rogan creative multipurpose is a beautiful website template designed for SEO & Digital Agency websites."
/>
<meta name="og:image" content="{% static 'static/images/home/ogg.png' %}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#fff" />
<meta name="msapplication-navbutton-color" content="#fff" />
<meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
<title>Cyprodev - Business and Agency html Template</title>
<link
  rel="icon"
  type="image/png"
  sizes="56x56"
  href="{% static 'static/images/fav-icon/icon.png' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'static/css/style.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'static/css/responsive.css' %}"
/>
