{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">

        <!-- Logo -->
        <a class="logo" href="{% url 'home' %}">
            <img src="{% static 'static/img/logo-light.png' %}" alt="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if head in 'Home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if head in 'About' %}active{% endif %}" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if head in 'Portfolios' %}active{% endif %}"
                        href="{% url 'portfolios' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if head in 'Services' %}active{% endif %}"
                        href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if head in 'Contact' %}active{% endif %}"
                        href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if head in 'Start Your Project' %}active{% endif %}"
                        href="{% url 'start-your-project' %}">Start Your Project</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Hello {{request.user.username}} !</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>