<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar mt-3" id="top">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="site-logo col-6"><a href="{% url 'home' %}">Cyprodev</a></div>
            <nav class="mx-auto site-navigation">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li><a href="{% url 'home' %}" class="nav-link {% if head in 'Home' %}active{% endif %}">Home</a>
                    </li>
                    <li><a href="{% url 'about' %}" class="nav-link {% if head in 'About' %}active{% endif %}">About</a>
                    </li>
                    <li><a href="{% url 'portfolios' %}"
                            class="nav-link {% if head in 'Portfolios' %}active{% endif %}">Portfolio</a></li>
                    <li><a href="{% url 'services' %}"
                            class="nav-link {% if head in 'Services' %}active{% endif %}">Services</a></li>
                    <li><a href="{% url 'contact' %}"
                            class="nav-link {% if head in 'Contact' %}active{% endif %}">Contact</a></li>
                    <li><a href="{% url 'start-your-project' %}"
                            class="nav-link {% if head in 'Start Your Project' %}active{% endif %}">Start your
                            project</a></li>

                    {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Hello {{request.user.username}} !</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    {% endif %}

                </ul>
            </nav>
            <div class="col-6 site-burger-menu d-block d-lg-none text-right">
                <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
            </div>
        </div>
    </div>
</header>