{% load static %}
<!-- jQuery -->
<script src="{% static 'static/js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'static/js/jquery-migrate-3.0.0.min.js' %}"></script>

<!-- popper.min -->
<script src="{% static 'static/js/popper.min.js' %}"></script>

<!-- bootstrap -->
<script src="{% static 'static/js/bootstrap.min.js' %}"></script>

<!-- scrollIt -->
<script src="{% static 'static/js/scrollIt.min.js' %}"></script>

<!-- animated.headline -->
<script src="{% static 'static/js/animated.headline.js' %}"></script>

<!-- jquery.waypoints.min -->
<script src="{% static 'static/js/jquery.waypoints.min.js' %}"></script>

<!-- jquery.counterup.min -->
<script src="{% static 'static/js/jquery.counterup.min.js' %}"></script>

<!-- owl carousel -->
<script src="{% static 'static/js/owl.carousel.min.js' %}"></script>

<!-- jquery.magnific-popup js -->
<script src="{% static 'static/js/jquery.magnific-popup.min.js' %}"></script>

<!-- stellar js -->
<script src="{% static 'static/js/jquery.stellar.min.js' %}"></script>

<!-- isotope.pkgd.min js -->
<script src="{% static 'static/js/isotope.pkgd.min.js' %}"></script>

<!-- YouTubePopUp.jquery -->
<script src="{% static 'static/js/YouTubePopUp.jquery.js' %}"></script>

<!-- particles.min js -->
<script src="{% static 'static/js/particles.min.js' %}"></script>

<!-- app js -->
<script src="{% static 'static/js/app.js' %}"></script>

<!-- validator js -->
<script src="{% static 'static/js/validator.js' %}"></script>

<!-- custom scripts -->
<script src="{% static 'static/js/scripts.js' %}"></script>