{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<section class="hero section-padding pb-0" data-scroll-index="1">
        <div class="container">
            <dilv class="row">
                <div class="offset-lg-2 col-lg-8 text-center mb-80">
                    <h4 class="extra-text">We Are <span>Awesome</span> Agency.</h4>
                    <p>"We love what we do and we love helping others succeed at what they love to do."</p>
                </div>
            </dilv>
            <div class="row">
                <div class="col-6">
                    <img src="{% static 'static/img/headway-5QgIuuBxKwM-unsplash.jpg' %}" class="img-fluid">
                </div>
                <div class="col-6">
                    <div class="mission">
                        <div class="section-head mb-30">
                            <h4><span>Who </span><br> We Are
                            </h4>
                        </div>
                        <p>We are Cyprodev. A web, software design and development professionals who love partnering with good people and businesses to help them achieve digital success.
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="mission">
                        <br>
                        <div class="section-head mb-30">
                            <h4><span>What </span><br> We Do
                            </h4>
                        </div>
                        <p>We’re focused on honing our crafts and bringing everything we have to the table for our clients. We create custom, functional websites, animated ads, and digitilization focused on converting your users into customers.
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <img src="{% static 'static/img/people-coffee-meeting-team-7096.jpg' %}" class="img-fluid">
                </div>
            </div>
        </div>


    </section>

    <!-- =====================================
        ==== Start Team -->

    <section class="team section-padding">
        <div class="container">
            <div class="row">

                <div class="section-head col-sm-12">
                    <h4>
                        <span>Our</span><br> Creative Team
                    </h4>
                </div>

                <div class="owl-carousel owl-theme col-sm-12">
                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Alex Smith.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/2.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Sam Martin.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Johnny Doe</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Jack Lennon</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Alex Smith.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Sam Martin.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Johnny Doe</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Jack Lennon</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Alex Smith.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Sam Martin.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Johnny Doe</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Jack Lennon</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Alex Smith.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Sam Martin.</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Johnny Doe</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="titem text-center">
                        <div class="team-img">
                            <img src="{% static 'static/img/team/1.jpg' %}" alt="">
                        </div>
                        <div class="info">
                            <h6>Jack Lennon</h6>
                            <span>Project Manager</span>
                            <div class="social">
                                <a href="#0"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#0"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#0"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock body %}