{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<section class="hero sectikon-padding mt-80" data-scroll-index="1">
    <div class="feat bg-gray pt-80 pb-50 mt-80">
        <div class="container">
            <div class="row">
                {% for service in object_list %}
                <div class="col-lg-4">
                    <div class="item">
                        <span class="icon"><i class="icofont {{service.icon}}"></i></span>
                        <h6>
                            <a href="digitalmarketing.html">
                                {{service.head}}
                            </a>
                        </h6>
                        <p>{{service.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



<div class="row">

</div>

{% endblock body %}