<div class="card">
    <div class="card-body">
        <dl>
            <dt>Assigned By</dt>
            <dd>{{object.user.first_name}} {{object.user.last_name}}</dd>
            <dt>Assigned To</dt>
            <dd>{{object.assigned_to.first_name}} {{object.assigned_to.last_name}}</dd>
            <dt>Task</dt>
            <dd>{{object.task}}</dd>
            <dt>Description</dt>
            <dd>{{object.description}}</dd>
            <dt>Added On</dt>
            <dd>{{object.created}}</dd>
            <dt>Updated On</dt>
            <dd>{{object.updated}}</dd>
        </dl>
    </div>
</div>