{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<div class="rogan-hero-section rogan-hero-three pt-300 pb-350 md-pt-200 md-pb-130 pos-r">
            <div class="shape-wrapper">
                <img src="{% static 'static/images/shape/contact.png' %}" alt="" class="main-image-shape img-shape rest">
                <img src="{% static 'static/images/shape/Contact-responsive.png' %}" alt="" class="main-image-shape img-shape resty">

            </div>
            <div class="container">
                <div class="main-wrapper pos-r">
                    <h1 class="banner-main-title pt-15 pb-45 md-pb-20 wow fadeInUp animated" data-wow-delay="0.4s">{{slider_head}}<br/><span>{{extra_slider_head}}</span></h1>
                    <p class="banner-sub-title pb-45 wow fadeInUp animated col-md-6" data-wow-delay="0.9s">{{slider_sub_head}}</p>
                    <a href="#" class="theme-btn solid-button-one button-rose wow fadeInLeft animated" data-wow-delay="1.5s">Get Started</a>
                </div>
            </div>
        </div>
    </div>

 <div class="about-us-block-two pt-100 pb-250 md-pt-30 md-pb-100 pos-r">
        <div class="shape-wrapper">
            <img src="{% static 'static/images/shape/contact-img.png' %}" alt="" class="img-shape shape-one">

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-last res-vision">
               
                    <div class="theme-title-one ">
                        <h2 class="main-title text-left pb-30"><span>Get In Touch</span></h2>
                    </div>
                    <div class="contact-form">
                {% load crispy_forms_tags %}

                        <form class="form theme-form-style-one"
                        {% if form_id %} id='{{ form_id }}' {% endif %}
                    action="{% if action_url %}{{ action_url }}{% endif %}" method="POST"
                        >
                             {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
    {% endif %}
                            <div class="controls">
                               {% csrf_token %}
                                {{ form|crispy }}
                            <input class="theme-btn text-white solid-button-one button-rose wow fadeInLeft animated ml-0" type="submit" value="Submit">
                            </div>
                            <!-- /.controls -->
                        </form>
                    </div>
                    <!-- /.contact-form -->
                </div>
                <div class="col-lg-6 order-lg-first">

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>





{% endblock body %}

