<div class="card">
    <div class="card-body">
        <dl>
            <dt class="text-center h4 font-weight-bold">Author</dt>
            <dd class="text-center h3">{{object.user.first_name}} {{object.user.last_name}}</dd>
            <div class="row text-center">
                <div class="col">
                    <dt class="h5 font-weight-bold">Name</dt>
                    <dd class="h5">{{object.name}}</dd>
                </div>
                <div class="col">
                    <dt class="h5 font-weight-bold">Language</dt>
                    <dd class="h5">{{object.language}}</dd>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">

                    <dt class="h5 font-weight-bold">Description</dt>
                    <dd class="h5">
                        {% if object.description %}{{object.description}}
                        {% else %} No description
                        {% endif %}
                    </dd>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">

                    <dt class="h5 font-weight-bold">Compilation completed on</dt>
                    <dd class="h5">
                        {{object.created}}
                    </dd>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <dd class="p-4">
                        <div class="card">
                            <div class="card-body">
                                <h5>Images</h5>
                                <div class="card-columns">

                                    {% for data in object.porfolio_images.all %}
                                    <div class="card float-left">
                                        <div class="card-body">
                                            <img src="/media/{{data.image}}" alt="">

                                        </div>
                                    </div>
                                    {% empty %}
                                    <div class="card float-left">
                                        <div class="card-body text-center">
                                            No images available to show
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>


                            </div>
                        </div>
                    </dd>
                </div>
            </div>
        </dl>
    </div>
</div>