{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<section class="portfolio section-padding" data-scroll-index="1">
    <div class="container">
        <div class="row">

            <div class="section-head col-sm-12">
                <h4>
                    <span>Our</span><br> Portfolio
                </h4>
            </div>

            <!-- filter links -->
            <div class="filtering col-sm-12">
                <span data-filter="*" class="active">All</span>
                <span data-filter=".brand">Brand</span>
                <span data-filter=".web">Design</span>
                <span data-filter=".graphic">Graphic</span>
            </div>

            <div class="clearfix"></div>

            <!-- gallery -->
            <div id="posts" class="gallery text-center full-width">


                <div class="clear-fix"></div>

            </div>


        </div>
    </div>
</section>
{% endblock body %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var search_query = '/api/portfolio/search/?query=';
        var type = '';
        getData(search_query);
        function getData(query) {
            $.ajax({
                url: query,
                method: 'GET',
                success: function (data) {
                    for (var index = 0; index < data.length; index++) {
                        const element = data[index]['category']['head'];
                        if (element == 'UI/UX & Web Designing' || element == 'Web Development') {
                            type = 'web';
                        }
                        if (element == 'Graphic Designing') {
                            type = 'graphic';
                        }
                        if (element == 'Animations') {
                            type = 'brand';

                        }
                        console.log(data[index] + type);
                        var porfolio = '<div class="col-md-4 items ' + type + '"> \
                                            <div class="item-img h-100"> \
                                                <img src="'+ data[index]["porfolio_images"][0]["image"] + '" alt="image"> \
                                                <div class="item-img-overlay valign"> \
                                                    <div class="overlay-info full-width vertical-center"> \
                                                        <h6>'+ data[index].name + '</h6> \
                                                    </div> \
                                                     <a href="portfolio-single.html"> \
                                                        <i class="icofont icofont-image"></i> \
                                                    </a> \
                                                </div> \
                                            </div > \
                                        </div > ';

                        $('#posts').prepend(porfolio);
                    }
                },
                error: function (data) {
                    console.log('error');
                }
            });
        }
    });

</script>
{% endblock scripts %}