{% extends 'dashboard/base.html' %}
{% load static %}
{% block graph %}
<div class="panel-header panel-header-sm">
</div>
{% endblock graph %}
{% block body %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-11">
                <h2 style="font-family: Pacifico;" class="m-2">{{head}} > {{sub_head}}</h2>
            </div>
        </div>
        <hr>
        {% include 'portfolio/form.html' with form=form btn_title='Add' %}
        <p><a href="{% url 'services:list' %}">Back to List</a></p>

    </div>
</div>
{% endblock body %}