@font-face {
    font-family: 'myriadpro' !important;
    src: url('./myriadpro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-bold' !important;
    src: url('./nexa-bold.OTF');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-light' !important;
    src: url('./nexa-light.otf');
    font-weight: lighter;
    font-style: normal;
}